# http://editorconfig.org
root = true

[*]
# We recommend you to keep these unchanged
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.dart]
# Change these settings to your own preference
indent_size = 2

[*.md]
trim_trailing_whitespace = false
